<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- adds the required details to tell IIS what the kestrel process is running the site -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />    
    <security>
      <!-- This is used to ensure a file up to 2gb can be uploaded on IIS *this is in bytes* -->
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>