<div class="row justify-content-sm-center">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title">ModFrame</h4>
                <p class="card-text">Making C# ASP.NET MVC projects easy again</p>
            </div>
        </div>
    </div>
</div>