<!DOCTYPE html>
<html>
<head>
    <title>Default Layout Template</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @*Imports the header file*@
    @Html.ModFrameHeader()
</head>
<body>
    @* This is used to ensure the sticky footer stays at the bottom *@
    <div class="footerWrapper">

        @*Imports the navigation menu file*@
        @Html.LayoutView("Default", "navigation.cshtml")

        <div class="container mt-4">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="col-12">
                <hr />
                <p>&copy;@DateTime.Now.Year  (Company Name)</p>
            </div>
        </div>
    </footer>

    @*Imports the footer file*@
    @Html.ModFrameFooter()
</body>
</html>