<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron text-center">
            <h1>ModFrame</h1>
            <p>Making C# ASP.NET MVC projects easy again</p>
        </div>
    </div>
</div>